html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0 3rem;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes btn-Hover {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sub-title {
  0% {
    opacity: 0;
    transform: translateX(200rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes btn {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0);
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: .2s;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}

.heading-secondary:hover {
  transform: skewY(3deg) skewX(15deg);
  letter-spacing: 5px;
  text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 10px 0;
  color: #8f8b8b;
}

.text-box {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}

.text-box:not(:last-child) {
  margin-bottom: 2rem;
}

.u-text-center {
  text-align: center;
}

.u-center-text {
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.u-text-padding {
  padding: 10rem 0;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.header-top-right {
  background-image: linear-gradient(90deg, rgba(126, 213, 111, 0.798757) 0%, rgba(40, 180, 133, 0.798757) 100%), url(/images/img/hero.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.hero-img {
  height: 50px;
  width: 100px;
  margin: 50px 50px 0;
}

.title {
  text-align: center;
  font-size: 9.8rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.6em;
  font-family: sans-serif;
  animation-duration: 2s;
  animation-name: title;
}

.sub-title {
  animation-name: sub-title;
  animation-duration: 2s;
}

.sub-title > p {
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
}

.sub-title p:first-child {
  line-height: 10rem;
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 17rem;
}

.row-1 .col-1-2:not(:last-child) {
  margin-right: 7rem;
}

.row-cards {
  display: flex;
  width: 100%;
  margin: 0 17rem;
  justify-content: space-between;
  align-items: center;
}

.feature-box {
  width: 20rem;
}

.row-cards-tour {
  margin-top: 10rem;
  margin: 0 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-cards-tour .col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row-cards-tour .card {
  width: 33rem;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  margin: 0 17rem;
}

.col-2-of-2 {
  width: 52rem;
}

.footer {
  padding: 10rem 0;
  background-color: #333333;
}

.footer__logo-box {
  text-align: center;
}

.footer__navigation ul {
  padding: 2rem 0;
  border-top: 3px solid #777777;
  display: flex;
  text-transform: uppercase;
  color: #f7f7f7f7;
  text-decoration: none;
}

.footer__navigation ul li:not(:last-child) {
  margin-right: 2rem;
}

.footer__navigation ul li {
  display: inline-block;
}

.footer__navigation ul li a {
  background-color: #333333;
  transition: 0.3s;
  padding: 0.3rem;
}

.footer__navigation ul li a:hover {
  display: inline-block;
  transform: scale(1.3) skewY(10deg);
  color: #7ed56f;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.6);
  padding: 0.3rem;
}

.footer__paragaph {
  width: 52rem;
  display: inline-block;
  font-size: 1.6rem;
  padding-top: 2rem;
  float: right;
  border-top: 3px solid #777777;
  color: #f7f7f7f7;
  line-height: 2;
}

.btn {
  margin-top: 5em;
  border: none;
  padding: 1em 3em;
  font-size: 1.5em;
  border-radius: 3em;
  text-transform: uppercase;
  cursor: pointer;
  animation-name: btn;
  animation-duration: 1s;
}

.btn-box {
  text-align: center;
}

.btn {
  color: #8b8686;
  position: relative;
}

.btn-text {
  transition: 0.5s;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #7ed56f;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 1rem 0;
}

.btn-text:hover {
  padding: 1rem;
  color: #fff;
  background-color: #7ed56f;
  transform: scale(1.2);
}

.btn--white {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5em;
  opacity: 1;
  transition: 0.5s;
  opacity: 1;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn.btn--white::after {
  background-color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

.feature-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  transition: all 0.3s;
  border-radius: 4px;
  font-size: 1.5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
}

.feature-box__icon {
  padding: 2rem;
  line-height: 12rem;
  font-size: 6rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
}

.feature-box h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #777;
}

.feature-box__text {
  line-height: 1.9;
  color: #777;
  font-size: 1.6rem;
}

.feature-box:hover {
  transform: translateY(-2rem) scale(1.05);
}

.row-cards-tour {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.row-cards-tour .col-1-of-3 {
  perspective: 150rem;
  width: 32rem;
  height: 52rem;
}

.row-cards-tour .col-1-of-3:hover .card {
  transform: rotateY(180deg);
}

.row-cards-tour .col-1-of-3 .card {
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  perspective: 120rem;
}

.row-cards-tour .col-1-of-3 .card__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.row-cards-tour .col-1-of-3 .card__details ul {
  color: #777;
  width: 80%;
}

.row-cards-tour .col-1-of-3 .card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.row-cards-tour .col-1-of-3 .card__details ul li:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

.row-cards-tour .col-1-of-3 .card:hover .row-cards-tour .col-1-of-3 .card__side {
  transform: rotateY(180deg);
}

.row-cards-tour .col-1-of-3 .card__side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.row-cards-tour .col-1-of-3 .card__side--front {
  background-color: #fff;
}

.row-cards-tour .col-1-of-3 .card__side--back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 52rem;
  width: 100%;
  transform: rotateY(180deg);
}

.row-cards-tour .col-1-of-3 .card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.row-cards-tour .col-1-of-3 .card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.row-cards-tour .col-1-of-3 .card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.row-cards-tour .col-1-of-3 .card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 8em;
}

.row-cards-tour .col-1-of-3 .card__price-only {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem;
}

.row-cards-tour .col-1-of-3 .card__price-value {
  font-size: 6rem;
  font-weight: lighter;
}

.row-cards-tour .col-1-of-3 .card__picture {
  height: 23rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.row-cards-tour .col-1-of-3 .card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900 0%, #ff7730 100%), url(/images/img/nat-5.jpg);
}

.row-cards-tour .col-1-of-3 .card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/images/img/nat-6.jpg);
}

.row-cards-tour .col-1-of-3 .card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/images/img/nat-7.jpg);
}

.row-cards-tour .col-1-of-3 .card__heading {
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  font-size: 2.8rem;
  color: #fff;
  right: 3rem;
  top: 12rem;
  font-weight: 300;
}

.row-cards-tour .col-1-of-3 .card__heading-span {
  line-height: 5.1rem;
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.row-cards-tour .col-1-of-3 .card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.row-cards-tour .col-1-of-3 .card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.row-cards-tour .col-1-of-3 .card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.section-about {
  background-color: #f7f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh;
}

.composition {
  margin-top: 2rem;
  position: relative;
}

.composition__photo {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  position: absolute;
}

.composition__photo--p3 {
  right: 15rem;
  top: 13rem;
  z-index: 30;
}

.composition__photo--p2 {
  right: 0;
  top: 5rem;
  z-index: 20;
}

.composition__photo--p1 {
  right: 25rem;
  z-index: 10;
}

.composition__photo:hover {
  transform: scale(1.1);
  outline: 1.3rem solid #55c57a;
  outline-offset: 1.7rem;
  border-radius: 6px;
  z-index: 40;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.section-features {
  display: flex;
  align-items: center;
  height: 95vh;
  width: 100%;
  margin-top: -18rem;
  transform: skewY(-7deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(126, 213, 111, 0.798757) 0%, rgba(40, 180, 133, 0.798757) 100%), url(/images/img/hero-small.jpg);
}

.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  padding: 25rem 0;
  padding-bottom: 10rem;
  background-color: #f7f7f7f7;
  margin-top: -15rem;
}

.section-tours .heading-secondary {
  margin-top: 4rem;
}

.section-stories {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
}

.feature-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  transition: all 0.3s;
  border-radius: 4px;
  font-size: 1.5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
}

.feature-box__icon {
  padding: 2rem;
  line-height: 12rem;
  font-size: 6rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
}

.feature-box h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #777;
}

.feature-box__text {
  line-height: 1.9;
  color: #777;
  font-size: 1.6rem;
}

.feature-box:hover {
  transform: translateY(-2rem) scale(1.05);
}

.story {
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-12deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.6);
}

.story .heading-secondary {
  margin: 100rem 0;
}

.story__shape {
  overflow: hidden;
  transform: skewX(12deg);
  height: 15rem;
  width: 15rem;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  float: left;
  margin-right: 2rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.story__img {
  position: relative;
  height: 100%;
  transition: all 0.8s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  opacity: 0;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  transition: all 0.5s;
  letter-spacing: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.story__text {
  transform: skewX(12deg);
  font-size: 1.6rem;
  color: #777;
  line-height: 2;
}

.story:hover .story__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.story:hover .story__img {
  filter: blur(3px) brightness(80%);
  transform: scale(1.4);
}

.story__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .15;
  width: 100%;
  height: 100%;
}

.story__video--content {
  background-color: rgba(255, 255, 255, 0.4);
  object-fit: cover;
  height: 100%;
  width: 100%;
}
