$grid-width: 114rem;
$space-vertical: 8rem;
$space-horizontal: 17rem;
$background-color: #f7f7f7f7;
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-black: #000;
$color-white: #fff;
$color-heading-tartiary: #777;