// @import 'abstracts/variables';
@import "./abstracts/mixins";
@import "./abstracts/variables";
// @import 'vendors/bootstrap';

@import "./base/reset";
@import "./base/animations";
@import 'base/typography';
@import './base/utilities';

// @import 'layout/navigation';
// @import 'layout/grid';
@import "./layout/header";
@import "./layout/grid";
@import './layout/footer';
// @import 'layout/sidebar';
// @import 'layout/forms';

@import "./components/button";
@import './components/cards';
@import "./components/card-tour";
// @import 'components/carousel';
// @import 'components/cover';
// @import 'components/dropdown';

@import './pages/home';
@import './components/cards';
@import './components/story';
// @import 'pages/contact';

// @import 'themes/theme';
// @import 'themes/admin';