.btn {
    margin-top: 5em;
    border: none;
    padding: 1em 3em;
    font-size: 1.5em;
    border-radius: 3em;
    text-transform: uppercase;
    cursor: pointer;
    animation-name: btn;
    animation-duration: 1s;
}

.btn-box {
    text-align: center;
}

.btn {
    color: rgb(139, 134, 134);
    position: relative;
}

// .btn::after {
//     content: "";
//     position: absolute;
//     background-color: #fff;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     border-radius: 5em;
//     animation-name: btn-Hover;
//     animation-duration: 1s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
// }

.btn-text {
    transition: 0.5s;
    &:link,
    &:visited {
        display: inline-block;
        color: $color-primary;
        font-size: 1.6rem;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        text-transform: capitalize;
        border-radius: 5px;
        padding: 1rem 0;
    }
    &:hover {
        padding: 1rem;
        color: $color-white;
        background-color: $color-primary;
        transform: scale(1.2);
    }
}
.btn--white {
    background-color: $color-white;
}
.btn--green {
    background-color: #55c57a;
    color: #fff;
}
.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5em;
    opacity: 1;
    transition: 0.5s;
    opacity: 1;
}
.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}
.btn.btn--white::after {
    background-color: $color-white;
}

.btn--green::after {
    background-color: #55c57a;
}