.row-cards-tour {
    margin-top: 6rem;
    margin-bottom: 6rem;
    .col-1-of-3 {
        perspective: 150rem;

        &:hover .card {
            transform: rotateY(180deg);
        }

        width: 32rem;
        height: 52rem;
        .card {
            transition: transform 0.8s ease;
            transform-style: preserve-3d;
            position: relative;
            width: 100%;
            height: 100%;
            box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
            &__details {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 3rem;
                ul {
                    color: $color-heading-tartiary;
                    width: 80%;
                    li {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 1rem;
                    }
                    li:not(:last-child) {
                        border-bottom: 2px solid #ccc;
                    }
                }
            }
            perspective: 120rem;
            &:hover &__side {
                transform: rotateY(180deg);
            }
            &__side {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                top: 0;
                left: 0;
                // height: 52rem;
                border-radius: 3px;
                &--front {
                    background-color: #fff;
                }

                &--back {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    height: 52rem;
                    width: 100%;
                    transform: rotateY(180deg);
                    &-1 {
                        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
                    }
                    &-2 {
                        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
                    }
                    &-3 {
                        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
                    }
                }
            }
            &__price{
                &-box {
                    color: #fff;
                    text-align: center;
                    margin-bottom: 8em;
                }
                &-only {
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin: 1rem;
                }
                &-value{
                    font-size: 6rem;
                    font-weight: lighter;
                }
            }
            &__picture {
                height: 23rem;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-blend-mode: screen;
                &--1 {
                    background-image: linear-gradient(to right bottom, #ffb900 0%, #ff7730 100%),
                        url(/images/img/nat-5.jpg);
                }
                &--2 {
                    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/images/img/nat-6.jpg);
                }
                &--3 {
                    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/images/img/nat-7.jpg);
                }
                clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            }
            &__heading {
                position: absolute;
                text-align: right;
                text-transform: uppercase;
                font-size: 2.8rem;
                color: $color-white;
                right: 3rem;
                top: 12rem;
                font-weight: 300;

                &-span {
                    line-height: 5.1rem;
                    padding: 1rem 1.5rem;
                    -webkit-box-decoration-break: clone;
                    box-decoration-break: clone;
                    &--1 {
                        background-image: linear-gradient(
                            to right bottom,
                            rgba(255, 185, 0, 0.85),
                            rgba(255, 119, 48, 0.85)
                        );
                    }
                    &--2 {
                        background-image: linear-gradient(
                            to right bottom,
                            rgba(126, 213, 111, 0.85),
                            rgba(40, 180, 133, 0.85)
                        );
                    }
                    &--3 {
                        background-image: linear-gradient(
                            to right bottom,
                            rgba(41, 152, 255, 0.85),
                            rgba(86, 67, 250, 0.85)
                        );
                    }
                }
            }
        }
    }
}
