
    .feature-box{
        text-align: center;
        background-color: rgba(255,255,255,0.8);
        padding: 2.5rem;
        transition: all 0.3s;
        border-radius: 4px;
        font-size: 1.5rem;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
        &__icon{
            padding: 2rem;
            line-height: 12rem;
            font-size: 6rem;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, $color-primary, $color-primary-light);
        }
        h3{
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
            color: $color-heading-tartiary;
        }
        &__text{
            line-height: 1.9;
            color: $color-heading-tartiary;
            font-size: 1.6rem;
        }
        &:hover{
            transform: translateY(-2rem) scale(1.05);
        }
    }


