.story {
    .heading-secondary{
        margin: 100rem 0;
    }
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(#000, 0.2rem);
    border-radius: 3px;
    padding: 6rem;
    transform: skewX(-12deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: rgba(255,255,255,0.6);
    &__shape {
        overflow: hidden;
        transform: skewX(12deg);
        height: 15rem;
        width: 15rem;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        float: left;
        margin-right: 2rem;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    &__img {
        position: relative;
        height: 100%;
        transition: all 0.8s;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #fff;
        opacity: 0;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        transition: all 0.5s;
        letter-spacing: 2;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    &__text {
        transform: skewX(12deg);
        font-size: 1.6rem;
        color: #777;
        line-height: 2;
    }
    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: scale(1.4);
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: .15;
        width: 100%;
        height: 100%;
        &--content {
            background-color: rgba( white, 0.4);
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
