.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: .2s;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    &:hover{
        transform: skewY(2deg) skewX(15deg);
        text-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
    }
}