.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: .2s;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    &:hover{
        transform: skewY(3deg) skewX(15deg);
        letter-spacing: 5px;
        text-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
    }
}
.heading-tertiary{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 10px 0;
    color: rgb(143, 139, 139);
}

.text-box{
    font-size: 1.6rem;
    line-height: 2;
    color: $color-heading-tartiary;
}
.text-box:not(:last-child){
    margin-bottom: 2rem;
}