.u-text-center{
    text-align: center;
}
.u-center-text{
    text-align: center;
}
.row{
    max-width: 114rem;
    margin: 0 auto;
}
.u-text-padding{
    padding: 10rem 0;
}
.u-margin-bottom-big{
    margin-bottom: 8rem; 
}