.section-about {
    background-color: $background-color;
    padding: 25rem 0;
    margin-top: -25vh;
}
.composition {
    margin-top: 2rem;
    position: relative;
    &__photo {
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

        transition: all 0.2s;
        position: absolute;
        &--p3 {
            right: 15rem;
            top: 13rem;
            z-index: 30;
        }
        &--p2 {
            right: 0;
            top: 5rem;
            z-index: 20;
        }
        &--p1{
            right: 25rem;
            z-index: 10;
        }
        &:hover {
            transform: scale(1.1);
            outline: 1.3rem solid $color-primary-light;
            outline-offset: 1.7rem;
            border-radius: 6px;
            z-index: 40;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }
}
.section-features{
    display: flex;
    align-items: center;
    height: 95vh;
    width: 100%;
    margin-top: -18rem;
    transform: skewY(-7deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(126, 213, 111, 0.7987570028011204) 0%, rgba(40, 180, 133, 0.7987570028011204) 100%), url(/images/img/hero-small.jpg);
    
    
    & > *{
        transform: skewY(7deg);
    }
}
.section-tours{
    padding: 25rem 0;
    background-color: $background-color;
    margin-top: -15rem;
    .heading-secondary{
        margin-top: 4rem;
    }
    
}